/* style for Header Component */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #efde1394;
  position: fixed;
  width: 99%;
  align-items: center;
  top: 0px;
}
.title {
  padding-left: 40px;
  font-weight: 800;
  font-style: normal;
  color: #763c07;
}
.header > img {
  width: 115px;
}
.navBar > ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-right: 10px;
  list-style: none;
}
.navBar > ul > li > a {
  text-decoration: none;
  font-weight: 600;
  color: #763c07;
}

/*style for Card Component */
.wrapper {
  display: flex;
  /* margin-top: 4%; */
  display: flex;
  flex-direction: row;
  width: 99%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.box > ul > img {
  padding-top: 10px;
  padding-right: 40px;
  height: 222px;
  width: 208px;
}
.box > ul > li {
  /* padding-bottom: 6px; */
  list-style: none;
  font-weight: 400;
  /* padding-right: 6px; */
  width: 167px;
}

/* search section  */
.searchBar {
  display: flex;
  justify-content: center;
  margin-top: 6.5%;
  gap: 3px;
}
.searchBar > input {
  width: 40%;
  color: #763c07;
  border: 1px solid #763c07;
  border-radius: 4px;
  background: none;
}
.searchBar > button {
  width: 8%;
  font-weight: 700;
  color: #763c07;
  border: 2px solid #763c07;
  border: none;
  background: none;
  position: sticky;
}
.searchBar > button:hover {
  font-weight: 900;
  cursor: pointer;
}
